<head>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        img{
            height: 200px;
            width: 200px;
            /* border-radius: 50%; */
            margin:1rem;
            border: 2px solid black;
        }
        h3{
            /* display: flex; */
            align-items: center;
        }
        h3>p{
            margin-left: 1rem;
            margin-top: -1rem;
        }
    </style>
</head>