h1{
    background-color: royalblue;
    color: aliceblue;
    text-align: center;
    padding: 10px ;
}


p{
    background-color: lightblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    background-color: royalblue;
     padding: .8rem 3rem;
     color: aliceblue;
     border: 0;
     cursor: pointer;
}

button a{
    text-decoration: none;
    color: aliceblue;

}

span{
    display: flex;
    gap: 1rem;
}