<!DOCTYPE html>
<html lang="en">
<head>
     <title>Ejs File....</title>
</head>
<body>
    <h1 style="color: blueviolet;">This is a home page</h1>
    <h1>Sum 5 + 5 =  <%= 5+5%></h1>
    <h1> <%= "bhaneshvar".toUpperCase()%></h1>
    <h1> <%= arr = [1,2,3,4]%></h1>
    <p style="font-size: 1.2rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam deserunt rerum consequuntur voluptatem exercitationem quibusdam quisquam quia nobis rem quae, earum eius delectus illo architecto excepturi qui quam, repellendus quidem.</p>
    <button style="padding: .8rem 2rem; font-size: 1.2rem; background: royalblue; color: aliceblue; border-radius: 20px; border: 0;">Click me!</button>
</body>
</html>