<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <div style="height: 380px; width: 300px; border: 2px solid gray; padding-left: 1rem;">
        <nav>
            <h1 style="margin-left:2rem;">User name : <%=user%></h1>
            <h1 style="margin-left:4.8rem; ;">Followers : <%=folowers%></h1>
        </nav>

        <div>
            <img style="width: 150px; border-radius: 50%; margin-left: 3rem; margin-bottom: 3rem; border: 5px solid black;" src="https://cc-prod.scene7.com/is/image/CCProdAuthor/tti-marquee-desktop@2x?$png$&jpegSize=200&wid=1162"
                alt="">

            <div>
                <button style="padding: .8rem 2rem; font-size: 1.2rem; background: royalblue; color: aliceblue; border-radius: 20px; border: 0;">Followers</button>
                <button style="margin-left: 2rem; padding: .8rem 2rem; font-size: 1.2rem; background: royalblue; color: aliceblue; border-radius: 20px; border: 0;">Following</button>
            </div>
        </div>
    </div>
</body>

</html>